<%- include('../../core/html/head', { 
    title: data.title, 
    themeColor: data.themeColor, 
    description: data.description, 
    baseUrl: data.baseUrl, 
    cssFiles: ['style.css'] 
}) %>

<div class="invitation-card" id="main-card">
    <div class="vertical-element-container">
        <div class="cross"><div class="cross-bar"></div></div>
        <span class="batismo"><%- data.tipoEvento %></span>
    </div>

    <div class="details-container">
        <div class="top-content">
            <p>Convidamos-vos a celebrar<br>o batismo da nossa filha</p>
            <h1><%- data.nomeCrianca %></h1>
            <p class="highlight"><%- data.dataHora %></p>
            
            <p class="section-title">Cerimónia</p>
            <div class="clickable-location" onclick="toggleDetails('det-cer', this)">
                <p class="location-name"><%= data.cerimonia.nome %> <span class="arrow">▼</span></p>
                <div id="det-cer" class="hidden-details">
                    <span class="small-text"><%= data.cerimonia.morada %></span><br>
                    <a href="<%= data.cerimonia.linkMapa %>" class="map-btn" onclick="event.stopPropagation();">Ver no Mapa</a>
                </div>
            </div>
            
            <p class="section-title">Receção</p>
            <div class="clickable-location" onclick="toggleDetails('det-rec', this)">
                <p class="location-name"><%= data.rececao.nome %> <span class="arrow">▼</span></p>
                <div id="det-rec" class="hidden-details">
                    <span class="small-text"><%= data.rececao.morada %></span><br>
                    <a href="<%= data.rececao.linkMapa %>" class="map-btn" onclick="event.stopPropagation();">Ver no Mapa</a>
                </div>
            </div>
        </div>
        
        <div class="confirmation-footer">
            <p>
                CONFIRMAR PRESENÇA ATÉ 15 DE MAIO<br>
                <span class="small-text">
                    <% data.contactos.forEach(function(contacto, index) { %>
                        <a href="<%= contacto.link %>" class="whatsapp-link"><%= contacto.nome %></a>
                        <%= index < data.contactos.length - 1 ? ' | ' : '' %>
                    <% }); %>
                </span>
            </p>
        </div>
    </div>
</div>

<%- include('../../core/html/foot') %>